@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Poiret+One&display=swap');

.container-we{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.rectangle-backgraund{
    width: 95%;
    height: 70%;
    /* position: absolute; */
    margin-top: 1rem;
    /* z-index: -1; */
    /* background-color: rgb(85, 85, 85); */
    border: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 400px 0 0 400px;
}

.container-img-we{
    /* width: 500px;
    height: 500px; */

    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    border-radius:50%;
    margin: 1rem;
}

.container-img-we img {
    /* width: 100%; */
    flex: 1;
    object-fit: cover;
}

.container-title-tex{
    max-width: 700px;
    /* min-height: 500px; */
    /* flex: 1; */
    /* border: 2px solid wheat; */
    color: #ffffff;
    text-align: justify;
    /* font-size: clamp(1rem , 4vw, 1.2rem); */
    font-size: 1.4rem;
    padding: 1rem;
    margin:  0 auto;
    flex: 1;
}

.container-title-tex > p{
    color: gold;
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    border-bottom: solid 2px gold;
    margin-bottom: .5rem;
}

@media (max-width: 766px){
    
    .container-we{
        height: 950px;
    }

    .container-img-we{
    /* width: 300px;
    height: 450px; */
    /* border-radius:0%; */
    aspect-ratio: 1/1;
    }

    .container-title-tex{
    max-width: 700px;
    /* min-height: 500px; */
    /* flex: 1; */
    /* border: 2px solid wheat; */
    color: #ffffff;
    text-align: justify;
    font-size: 1.1rem;
    padding: 1rem;
    margin:  0 auto;
    flex: 1;
    }

    .rectangle-backgraund{
    height: auto;
    top: 1rem;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 180px 180px 0 0;
    flex-wrap: wrap;
    
    }


}

@media (min-width: 700px) and (max-width : 1000px ){
    .container-title-tex{
        font-size: 1.1rem;
        }

    .container-img-we{
        width: 300px;
        height: 450px;
        border-radius: 10px;
        
        }

    .rectangle-backgraund{
        height: auto;
        border-radius: 10px;
    }
}

@media (min-width: 1000px) and (max-width : 1200px ){
    .container-title-tex{
        font-size: 1.2rem;
        }
}