.container-nustros-servicios{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Poiret One', cursive;    
}

.card {
    width: 400px;
    height: 250px;
    background-color: #263a47;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: 500ms;
}

.container-nustros-servicios div h1 {
    color: gold;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    text-align: center;
    letter-spacing: 2px;
    padding: 13px 0;
}

.container-nustros-servicios div p {
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.span-card-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 10px 15px;
    background: linear-gradient( transparent, #263a47);
    position: absolute;
    bottom: 0;
}

.container-nustros-servicios div input {
    width: 100px;
    height: 30px;
    background: orange;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.more {
    color: #fff;
    width: 100px;
    height: 35px;
    background: orange;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.more-bg {
    background: rgb(134, 130, 130);
}

.more::before {
    content: 'Leer más';
    
}  

.more.active_card::before {
    content: 'Leer menos';
}

.input-open-card {
    height: 425px;
}

.span-hidden {
    background: transparent;
}
.container-nustros-servicios div ul {
    padding: 0  0 0 70px;
}

.container-nustros-servicios div ul li{
    color: white;
    padding: 5px 0;
    font-size: 1.2rem;
    text-align: start;    
}


@media (max-width : 700px) {
    .container-nustros-servicios{
        height: 100vh;
    }
    .container-nustros-servicios{
        align-items: center;
        gap: 1rem; 
    }
    .card {
        width: 350px;
        height: 200px;
    }

    .input-open-card {
        height: 450px;
    }
    
    .span-hidden {
        background: transparent;
    }
}