.container-contac {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}
.container-horario{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.container-contac ul {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(73, 71, 71);
}

.div-pulsante {
    animation: pulsante 1.5s infinite;
    border-radius: 50%;
}

@keyframes pulsante {
    0% {
        box-shadow: rgb(73, 71, 71) 0 0 0 0;
    } 
    100% {
        box-shadow: #141414 0 0 5px 20px;
    }
}

.container-contac ul p{
    font-size: 2rem;
    color: gold;
    text-align: center;
    border-bottom: 2px solid gold;
}

.container-contac li{
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
    color: #ffffff;
    margin: 5px;
}

.container-redes{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    z-index: +1;
}

.container-redes div{
    width: max(8vw, 60px);
    height: max(8vw, 60px);
    background-color: rgb(29, 29, 29);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 3px #141414;
    margin-bottom: 20px;
}

.container-redes i{
    font-size: max(4vw, 30px);
    color: wheat;
}

.color-facebook:hover{
    color:#2f55a4;
}
.color-whats:hover{
    color: #25d366;
}
.color-location-dot:hover{
    color: rgb(216, 32, 32);
}
.color-email:hover{
    color: rgb(223, 176, 24);
}

.rectangle-backgraund-contacUs{
    width: 100%;
    height: 10vh;
    background-color: #263a47;
    position: absolute;
    bottom: 0;
    
    transition: 500ms;
}

