@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
    scroll-behavior: smooth;
}
body{
    background-color: #0c0c0c;
}


#logo{
    width: 40vw;
    height: 20vh;
    border-radius:  0 30px 30px 0;
}

.item-logo{
    position:absolute;
    bottom: 40%;
    left: -150px;
    z-index: 1;
    transition: 1s;
}

.item-logo:hover{
    transform: translateX(150px);
}

.container-all{
    position: relative;
    overflow: hidden;
    width: 100%;
    
}

.slide{
    display: flex;
    transform: translate3d(0,0,0);
    transition:  all 600ms;
    animation: autoplay 20s infinite alternate ease-in-out;
    position: relative;
}

.size{
    width: 100vw;
    height: 100vh;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: 0;
    max-width: 100%;
    
}
.pagination{
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 2px white;
    border-radius: 50px;
    overflow: hidden;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(1.5);
}
.pagination-item img{
    display: inline-block ;
    max-width: none;
    height: 100%;
    width: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1.5);
}


input[id='1']:checked ~ .slide{
    animation: none;
    transform: translate3d(0,0,0);
}

input[id='1']:checked ~ .pagination .pagination-item[for='1']{
    background-color: white;
}


input[id='2']:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1),0,0);
}

input[id='2']:checked ~ .pagination .pagination-item[for='2']{
    background-color: white;
}

input[id='3']:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2),0,0);
}
input[id='3']:checked ~ .pagination .pagination-item[for='3']{
    background-color: white;
}

input[id='4']:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3),0,0);
}
input[id='4']:checked ~ .pagination .pagination-item[for='4']{
    background-color: white;
}

input[id='5']:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 4),0,0);
}

input[id='5']:checked ~ .pagination .pagination-item[for='5']{
    background-color: white;
}

@keyframes autoplay {
    10%{transform: translate3d(calc(-100% * 0),0,0);}
    15%{transform: translate3d(calc(-100% * 0),0,0);}

    20%{transform: translate3d(calc(-100% * 1),0,0);}
    35%{transform: translate3d(calc(-100% * 1),0,0);}

    40%{transform: translate3d(calc(-100% * 2),0,0);}
    55%{transform: translate3d(calc(-100% * 2),0,0);}

    60%{transform: translate3d(calc(-100% * 3),0,0);}
    75%{transform: translate3d(calc(-100% * 3),0,0);}

    80%{transform: translate3d(calc(-100% * 4),0,0);}
    100%{transform: translate3d(calc(-100% * 4),0,0);}
}

@media (max-width: 700px) {

.size{
    width: 100%;
    height: 100%;
}

#logo{
    display: none;
}

.pagination{
    display: none;
}
}

@media (min-width: 701px) and (max-width: 1200px) {
    #logo{
        width: 50vw;
        height: 10vh;
        border-radius:  0 30px 30px 0;
        opacity: 95%;
    }

    .size{
        width: 100%;
        height: 100%;
    }
}